In [12]:
import pandas as pd
df = pd.read_csv("data/cleaned_ckd.csv")

# Display first few rows
print(df.head())

         id       age        bp        sg        al        su  rbc  pc  pcc  \
0 -1.727726 -0.205464  0.262338  0.483355 -0.013338 -0.437797    1   1    0
1 -1.719066 -2.623810 -1.966580  0.483355  2.347516 -0.437797    1   1    0
2 -1.710406  0.620313  0.262338 -1.381391  0.773613  2.479925    1   1    0
3 -1.701745 -0.205464 -0.480635 -2.313764  2.347516 -0.437797    1   0    1
4 -1.693085 -0.028511  0.262338 -1.381391  0.773613 -0.437797    1   1    0

   ba  ...  pcv  wc  rc  htn  dm  cad  appet  pe  ane  classification
0   0  ...   32  72  34    1   4    1      0   0    0               1
1   0  ...   26  56  34    0   3    1      0   0    0               1
2   0  ...   19  70  34    0   4    1      1   0    1               1
3   0  ...   20  62  19    1   3    1      1   1    1               1
4   0  ...   23  68  27    0   3    1      0   0    0               1

[5 rows x 26 columns]

In [13]:
print(df["classification"].unique())
print(df["classification"].value_counts())

[1 0]
classification
1    250
0    150
Name: count, dtype: int64

In [14]:
df["classification"] = df["classification"].replace(2, 1)
print(df["classification"].value_counts())

classification
1    250
0    150
Name: count, dtype: int64